.label {
  animation: rotate 2s linear infinite;
}
.label:hover {
  transition: all 1s ease;
  animation: end;
}
.money img:nth-of-type(1) {
  animation: fall 1.5s normal linear infinite;
}
.money img:nth-of-type(2) {
  animation: fall 3s normal linear infinite;
}
.money img:nth-of-type(3) {
  animation: fall 1s normal linear infinite;
}
.money img:nth-of-type(4) {
  animation: fall 2s normal linear infinite;
}
.money img:nth-of-type(5) {
  animation: fall 1.8s normal linear infinite;
}

.one {
  animation: opacity .6s alternate linear infinite;
}
.two {
  animation: opacity .3s alternate linear infinite;
}
.three {
  animation: opacity .8s alternate linear infinite;
}
.four {
  animation: opacity .4s alternate linear infinite;
}
.five {
  animation: opacity .3s alternate linear infinite;
}
.six {
  animation: opacity .4s alternate linear infinite;
}
.box:hover {
	animation: shake 1s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite;
}
.cringe img:first-of-type {
  animation: scale .3s alternate linear infinite;
}
.vesy {
  animation: bounce 1.5s ease-out infinite alternate;
}
@keyframes rotate {
  0%, 100% {transform: rotate(0deg);}
  30% {transform: rotate(5deg);}
  80% {transform: rotate(-5deg);}
}
@keyframes end {
  100% {transform: rotate(0deg);}
}

@keyframes opacity {
  0% {opacity: 1;}
  100% {opacity: 0;}
}
@keyframes shake {
  0%,100% {transform: translateX(0);}
  10%, 30%, 50%, 70% {transform: translateX(-10px);}
  20%, 40%, 60% {transform: translateX(10px);}
  80% {transform: translateX(8px);}
  90% {transform: translateX(-8px);}
}
@keyframes scale {
  0% {transform: scale(1);}
  100% {transform: scale(1.5);}
}
@keyframes fall {
  0% {top:-20%; opacity:1;}
  80% {top: 90%; opacity:1;}
  100% {top: 90%; opacity: 0;}
}
@keyframes bounce {
  0% {transform: translateY(-45px); animation-timing-function: ease-in;}
  40% {transform: translateY(-24px); animation-timing-function: ease-in;}
  65% {transform: translateY(-12px); animation-timing-function: ease-in;}
  95% {transform: translateY(-4px); animation-timing-function: ease-in;}
  25%, 55%, 87% {transform: translateY(0px); animation-timing-function: ease-out;}
  100% {transform: translateY(0px); animation-timing-function: ease-out;}
}
